/* ======================================================
LINE MOVMENT
====================================================== */

.line-speed{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 5;
    filter: var(--hard-light-color);
}
.altered-background{
    width: 100%;
    height: 100%;
    
}